<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  {% for msg in messages %}
  <div class="">
      <div id="feedbackMessage" class="
      {% if msg.level_tag == 'error' %}
      alert-danger
      {% elif msg.level_tag == 'success' %}
      alert-success
      {% endif %}
      alert" role="alert">
          {{ msg|safe  }}
      </div>
  </div>
  {% endfor %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Вход</h1>
  <p class="lead text-center mb-4">Пожалуйста, используйте следующую форму для входа</p>
  <form action="." method="post" class="form-horizontal">
    <div class="container text-center mt-5">
    {{ form.as_p }}
    </div>
    {% csrf_token %}
    <p class="text-center"><input type="submit" value="Войти" class="btn btn-primary"></p>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>