<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        @media print {
          .not-print-area, .not-print-area * {
            display: none;
          }
        } 
      </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Научные работы</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Научные работы</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/app/nir">редактировать НИР</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
                
            </ul>
        </div>
    </nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
        <h1>Научные работы</h1>
        <ul class="list-group">
            {% for nir in object_list %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="font-weight-bold">{{ nir.date_start|date }}</span> - {{ nir.name }} - {{ nir.Fakultet.name }}
                        </div>
                        <div>
                            <span class="badge badge-primary">{{ nir.get_type_display }}</span>
                        </div>
                    </div>
                {% for key, value in participants2.items %}
                    {% if key == nir.pk and value == True %}
                    <li class="list-group-item">
                    <div>          
                        <h4>Участники:</h4>
                        {% for p in participants %}
                        {% if p.nir.pk == nir.pk %}
                            <span>{{p.user}}</span><br>
                        {% endif %}
                        {% endfor %}
                    </div>
                    </li>
                    {% endif %}
                {%endfor%}
                {% for key, value in orgcomit2.items %}
                {% if key == nir.pk and value == True %}
                <li class="list-group-item">
                    <div>      
                        <h4>Оргкомитет:</h4>
                        {% for p in orgcomit %}
                        {% if p.nir.pk == nir.pk %}
                            <span>{{p.user}}</span><br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                {% for key, value in listeners2.items %}
                {% if key == nir.pk and value == True %}
                <li class="list-group-item">
                    <div>      
                        <h4>Слушатели:</h4>
                        {% for p in listeners %}
                        {% if p.nir.pk == nir.pk %}
                            <span>{{p.user}}</span><br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4 not-print-area">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Фильтры</h5>
                <form id="filterForm" method="get" action="">
                    <div class="form-group">
                        <label for="facultyFilter">Факультет</label>
                        <select class="form-control" name="faculty" id="facultyFilter">
                            <option value="all">Все</option>
                            {% for f in facultys %}
                            <option value="{{f.id}}">{{f.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="typeFilter">Тип работы</label>
                        <select class="form-control" name="type" id="typeFilter">
                            <option value="all">Все</option>
                            <option value="ol">Олимпиада</option>
                            <option value="vs">Выставка</option>
                            <option value="kf">Конференция</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateFilterType">Тип фильтрации по дате</label>
                        <select class="form-control" id="dateFilterType" name="dateFilterType" onchange="toggleDateInput()">
                            <option value="all">Все</option>
                            <option value="day">По дате</option>
                            <option value="year">По году</option>
                        </select>
                    </div>
                    <div class="form-group" id="dateFilterGroup" style="display: none;">
                        <label for="dateFilter">Дата начала</label>
                        <input type="date" class="form-control" id="dateFilter" name="dateFilter">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" onclick="submitForm()">Отфильтровать</button>
                    <button type="button" class="btn btn-primary btn-block" id="printBtn">Напечатать</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">

    document.getElementById('printBtn').addEventListener('click', () => { window.print() });
    // Prints area to which class was assigned only
</script>

<script>
    function toggleDateInput() {
        var dateFilterType = document.getElementById('dateFilterType').value;
        var dateFilterGroup = document.getElementById('dateFilterGroup');
        
        if (dateFilterType === 'all') {
            dateFilterGroup.style.display = 'none';
        } else {
            dateFilterGroup.style.display = 'block';
            var dateFilter = document.getElementById('dateFilter');
            dateFilter.type = dateFilterType === 'day' ? 'date' : 'number';
        }
    }

    function submitForm() {
        var form = document.getElementById('filterForm');
        var facultyFilter = form.elements['facultyFilter'].value;
        var typeFilter = form.elements['typeFilter'].value;
        var dateFilterType = form.elements['dateFilterType'].value;
        var dateFilter = form.elements['dateFilter'].value;

        if (facultyFilter === 'all') {
            form.elements['facultyFilter'].disabled = true;
        }

        if (typeFilter === 'all') {
            form.elements['typeFilter'].disabled = true;
        }

        if (dateFilterType === 'all') {
            form.elements['dateFilterType'].disabled = true;
            form.elements['dateFilter'].disabled = true;
        }

        form.submit();
    }
</script>
</body>
</html>
