<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Форма</title>
</head>
<body>
    {% for msg in messages %}
    <div class="">
        <div id="feedbackMessage" class="
        {% if msg.level_tag == 'error' %}
        alert-danger
        {% elif msg.level_tag == 'success' %}
        alert-success
        {% endif %}
        alert" role="alert">
            {{ msg|safe  }}
        </div>
    </div>
    {% endfor %}

<div class="container mt-5">
    {% if user.user_type == 'student' %}
    <!-- Форма для студента -->
    <div id="studentForm" class="mt-4">
        <form action= {{ request.get_full_path }} method="post">
            {% csrf_token %}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="participantCheckbox">
                <label class="form-check-label" for="participantCheckbox">Участник</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Записаться</button>
        </form>
    </div>
    {% endif %}
    {% if user.user_type == 'employee' %}
    <!-- Форма для сотрудника -->
    <div id="employeeForm" class="mt-4">
        <form action= {{ request.get_full_path }} method="post">
            {% csrf_token %}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="participantCheckbox">
                <label class="form-check-label" for="participantCheckbox">Участник</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="committeeCheckbox">
                <label class="form-check-label" for="committeeCheckbox">Представитель оргкомитета</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Записаться</button>
        </form>
    </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
